<div class="section">
	<% @section.each do |section| %>
		<div class="btn-group" role="group" aria-label="Basic example">
		  <%= link_to section, menu_path(section: section), class: 'btn btn-secondary' %>
		</div>
	<% end %>
	<div class="btn-group pull-xs-right">
		<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Sort by
		</button>
		<div class="dropdown-menu">
			<%= link_to "Name", menu_path(:sort_param => "name", :section => params[:section]), class: 'dropdown-item' %>
			<%= link_to "Price low to high", menu_path(:sort_param => "price asc", :section => params[:section]), class: 'dropdown-item' %>
			<%= link_to "Price high to low", menu_path(:sort_param => "price desc", :section => params[:section]), class: 'dropdown-item'%>
		</div>
	</div>
</div>

<div class="row">
	<% @food_items.each do |food_item| %>
		<div class="col-xs-4">
		<div class="card">
			<h4 class="card-header">
				<%= food_item.name.titleize %>
				<span class="label label-default"><%= food_item.orders.size %></span>
			</h4>

			
			<%= image_tag food_item.image_url %>
			
			<h5 class="card-footer">Price: <%= food_item.price %></h5>

			<%= link_to 'Order', new_food_item_order_path(food_item), class: 'card-link btn btn-danger' %>
		</div>
		</div>
	<% end %>
</div>