<div class="row">
	<div class="col-xs-4">
		<%= form_for [@food_item,Order.new] do |f| %>
			<div class="form-group">
	    		<%= f.label :name, class: 'form-control-label'%>
	    		<%= f.text_field :name, class: 'form-control' %>
	  		</div>
	  		<div class="form-group">
	    		<%= f.label :phone, class: 'form-control-label'%>
	    		<%= f.text_field :phone, class: 'form-control' %>
	  		</div>
	  		<div class="form-group">
	    		<%= f.label :address, class: 'form-control-label'%>
	    		<%= f.text_area :address, class: 'form-control' %>
	  		</div>
	  		<%= f.submit "Submit", class: 'btn btn-primary' %>
		<% end %>
	</div>
	<div class="col-xs-8">
		<h4 class="card-title"><%= @food_item.name %></h4>
		<%= image_tag @food_item.image_url %>
		<h5 class="card-title">Price: <%= @food_item.price %></h5>
		<p><%= @food_item.description %></p>
	</div>
</div>