<h3>Order success for food: <%= @food_item.name.titleize %>!!!</h3>

<div class="row">
  <div class="col-xs-6">
    <table class="table price-table">
      <tbody>
        <tr>
          <td>Quantity</td>
          <td><%= @order.quantity %></td>
        </tr>
        <tr>
          <td>Total food price</td>
          <td><%= @food_fee %></td>
        </tr>
        <tr>
          <td>Deliver fee</td>
          <td><%= @delivery_fee %></td>
        </tr>
        <tr>
          <td>Discount</td>
          <td><%= @discount %></td>
        </tr>
        <tr class="total-price">
          <td>Total</td>
          <td><%= @total %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-6">
    <table class="table">
      <tbody>
        <tr>
          <td>Name</td>
          <td><%= @order.name %></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><%= @order.phone %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= @order.email %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= @order.address %></td>
        </tr>
        <tr>
          <td>Ordered at</td>
          <td><%= @order.created_at.strftime("%A, %B %d, %H:%M") %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= link_to "Back to menu", menu_path, class: 'btn btn-secondary' %>